.img-container {
  height: 60%;
  width: 90%;
  overflow: hidden;
  text-align: center;
  margin: auto;
}
img {
  max-width: 100%;
  /* width: 100%; */
  height: auto;
  background-size: cover;
}
.content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 10px;
}

.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card-btn {
  width: 40%;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}

.details-btn {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.card-details {
  cursor: pointer;
}
